<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>
		{{ .title }}
	</h1>

    <!-- <a href="/albums">albums</a> -->

    <!-- <form action="/" method="POST">
        <p>Add new user</p>
        <label for="name">Name</label>
        <input type="text" name="name" id="name"/>
        <input type="submit" />
    </form> -->
</body>
</html>
